.App {
  height: 100dvh;
}
.animationAppearUp {
  animation: appearUp 0.5s ease;
}
@keyframes appearUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.animationAppearDown {
  animation: appearDown 0.5s ease;
}
@keyframes appearDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.moveable-line {
  background: transparent !important;
  border-top: 4px dashed #4af;
  border-left: 3px dashed #4af;
}

.moveable-control {
  width: 16px !important;
  height: 16px !important;
  border: 1px dashed #fff !important;
}

.rCS7rstfg {
  z-index: 50 !important;
}
