.App {
  height: 100dvh;
}
.animationAppearUp {
  animation: appearUp 0.5s ease;
}
@keyframes appearUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.animationAppearDown {
  animation: appearDown 0.5s ease;
}
@keyframes appearDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.drawing .moveable-line,
.drawing .moveable-control,
.drawing .moveable-control.moveable-origin {
  display: none !important;
}

.editing .moveable-line {
  background: transparent !important;
  border-top: 4px dashed rgba(68, 171, 255, 0.7);
  border-left: 3px dashed rgba(68, 171, 255, 0.7);
}

.editing .moveable-control {
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #fff !important;
}
.editing .moveable-rotation-control {
  background: #fff !important;
  border: 1px solid #000 !important;
}
.editing .moveable-control.moveable-origin {
  border: none !important;
  background: none !important;
}

.editing.rCS7rstfg {
  z-index: 50 !important;
}
