body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* avoiding refres when swipe down on old browsers*/

  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  /* avoiding refres when swipe down */
  overscroll-behavior: none;
}
/* static font */
@font-face {
  font-family: "rubik";
  src: url("fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* variable font */
@font-face {
  font-family: "raleway";
  src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 900;
}

@font-face {
  font-family: "caveat";
  src: url("fonts/Caveat/Caveat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 900;
}

@font-face {
  font-family: "cinzel";
  src: url("fonts/Cinzel/Cinzel-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 900;
}
@font-face {
  font-family: "comfortaa";
  src: url("fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 900;
}
@font-face {
  font-family: "dancing-script";
  src: url("fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 900;
}
@font-face {
  font-family: "source-code-pro";
  src: url("fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 900;
}
@font-face {
  font-family: "shantell-sans";
  src: url("fonts/SantellSans/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf")
    format("truetype-variations");
  font-weight: 200 900;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
